# Ignore .secret folder
.secret/*

# Ignore VSCode settings
.vscode/

# Ignore charts folder
*/charts/*

# Ignore requirements lock
*/requirements.lock

# Ignore packaged helm charts
*.tgz

# Ignore log files
*.log
